# Copy this file to .download-radiko.env and fill in your API credentials.
# You can find the Endpoint URL and API Key in the output of your terraform apply in the api-gw directory.
MEDIA_RECORDER_API_ENDPOINT="https://your-api-id.execute-api.us-west-2.amazonaws.com/prod/record"
MEDIA_RECORDER_API_KEY="your-api-key"
